<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty plugin="openshift-sync@1.0.37">
      <uid></uid>
      <namespace></namespace>
      <name></name>
      <resourceVersion></resourceVersion>
    </io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>REPLACE_SSH_KEY_IF_EXIST</name>
          <description>Replace SSH-Keys for technical (GitLab) User if already exist.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.22.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.12">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <org.jenkinsci.plugins.gitlablogo.GitlabLogoProperty plugin="gitlab-logo@1.0.3">
      <repositoryName></repositoryName>
    </org.jenkinsci.plugins.gitlablogo.GitlabLogoProperty>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.14">
      <gogsSecret></gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.7"/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.68">
    <script>import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey;
import hudson.EnvVars;
import hudson.slaves.EnvironmentVariablesNodeProperty;
import hudson.slaves.NodeProperty;
import hudson.slaves.NodePropertyDescriptor;
import hudson.util.DescribableList;

node(&quot;master&quot;) {
    // boolean replaceSshKeyIfExist = false;
    String sshKeyPath = &quot;/var/lib/jenkins/id_rsa&quot;;
    String technicalUserName = &quot;cip_build_devops-expert-tech&quot;;
    String technicalUserSshComment = &quot;cip_build_tech@devops-expert.de&quot;;
    boolean sshKeyReplaced = false; // do not change it
    
    stage(&quot;Set Global Environment Variables&quot;) {
        createGlobalEnvironmentVariables(&apos;abc&apos;, &apos;123&apos;)
    }
    
    stage(&quot;Generate SSH-Key&quot;) {
        // wenn ssh-key bereits existiert, dann nur ersetzen wenn replaceSshKeyIfExist=true
        if( fileExists(sshKeyPath) ) {
            sshKeyReplaced = (REPLACE_SSH_KEY_IF_EXIST == &quot;true&quot;);
        }
        else {
            sshKeyReplaced = true;
        }
        
        if(sshKeyReplaced) {
            sh &quot;&quot;&quot;
                rm -f ${sshKeyPath}*
                ssh-keygen -t rsa -C &apos;${technicalUserSshComment}&apos; -b 4096 -q -N &apos;&apos; -f ${sshKeyPath}
            &quot;&quot;&quot;
        }
    }
    
    stage(&quot;Generate technical User&quot;) {
        if(sshKeyReplaced) {
            String pivateKey = new File(sshKeyPath).getText(&apos;UTF-8&apos;)
            String publicKey = new File(sshKeyPath + &apos;.pub&apos;).getText(&apos;UTF-8&apos;)
            
            // parameters
            def jenkinsMasterKeyParameters = [
              description:  &apos;Jenkins Master SSH Key&apos;,
              id:           &apos;jenkins-master-key&apos;,
              secret:       &apos;&apos;,
              userName:     technicalUserName,
              key:          new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource(pivateKey)
            ]
    
            // get Jenkins instance
            Jenkins jenkins = Jenkins.getInstance()
            
            // get credentials domain
            def domain = Domain.global()
    
            // get credentials store
            def store = jenkins.getExtensionList(&apos;com.cloudbees.plugins.credentials.SystemCredentialsProvider&apos;)[0].getStore()
    
            // define private key
            def privateKey = new BasicSSHUserPrivateKey(
                CredentialsScope.GLOBAL,
                jenkinsMasterKeyParameters.id,
                jenkinsMasterKeyParameters.userName,
                jenkinsMasterKeyParameters.key,
                jenkinsMasterKeyParameters.secret,
                jenkinsMasterKeyParameters.description
            )
            
            // delete old cridentials
            list = credentials_for_username(jenkinsMasterKeyParameters.userName)
            echo &quot;list: &quot; + list
            for (credentials in list) {
                store = Jenkins.instance.getExtensionList(&apos;com.cloudbees.plugins.credentials.SystemCredentialsProvider&apos;)[0].getStore()
                store.removeCredentials(domain, credentials)
            }
    
            // add credential to store
            store.addCredentials(domain, privateKey)
            
            // save to disk
            jenkins.save()
        }
    }
    
    stage(&quot;Import public key to GitLab&quot;) {
        if(sshKeyReplaced) {
            // sh &quot;cat ${sshKeyPath}&quot;
            sh &quot;cat ${sshKeyPath}.pub&quot;
            timeout(time:60, unit:&apos;MINUTES&apos;) {
                input message: &quot;Public-Key was imported to GitLab?&quot;, ok: &quot;Continue&quot;
            }
        }
    }
}

def credentials_for_username(String username) {
    def username_matcher = CredentialsMatchers.withUsername(username)
    def available_credentials =
        CredentialsProvider.lookupCredentials(
            StandardUsernameCredentials.class,
            Jenkins.getInstance(),
            hudson.security.ACL.SYSTEM
        )
    return CredentialsMatchers.filter(available_credentials, username_matcher)
}

def createGlobalEnvironmentVariables(String key, String value) {
    Jenkins instance = Jenkins.getInstance();

    DescribableList&lt;NodeProperty&lt;?&gt;, NodePropertyDescriptor&gt; globalNodeProperties = instance.getGlobalNodeProperties();
    List&lt;EnvironmentVariablesNodeProperty&gt; envVarsNodePropertyList = globalNodeProperties.getAll(EnvironmentVariablesNodeProperty.class);

    EnvironmentVariablesNodeProperty newEnvVarsNodeProperty = null;
    EnvVars envVars = null;

    if ( envVarsNodePropertyList == null || envVarsNodePropertyList.size() == 0 ) {
        newEnvVarsNodeProperty = new hudson.slaves.EnvironmentVariablesNodeProperty();
        globalNodeProperties.add(newEnvVarsNodeProperty);
        envVars = newEnvVarsNodeProperty.getEnvVars();
    } else {
        envVars = envVarsNodePropertyList.get(0).getEnvVars();
    }
    envVars.put(key, value)
    instance.save()
}</script>
    <sandbox>true</sandbox>
  </definition>
  <disabled>false</disabled>
</flow-definition>